@import 'utilities.scss';

footer {
  width: 100%;
  font-size: 10px;
  margin: 20px 0 20px 0;

  @media screen and (min-width: 1440px) {
    font-size: 14px;
  }

  .row {
    margin: 0 auto;

    a {
      color: $blue;
    }

    ul {
      padding: 0;
      margin-left: -5px;

      @media screen and (min-width:1440px) {
        margin-left: 10px;
      }

      li {
        display: inline-block;
        padding-right: 5px;
        border-right: 1px solid $light-grey;
      }
    }
  }
}
