@import 'variables.scss';

.link-decoration {
  text-decoration: none;
  color: #08c;
}

.ul-decoration {
  list-style: none;
  color: #08c;
}

.grey {
  color: #6e6e6e;
}

.vertical-line {
  padding-right: 5px;
  border-right: 1px solid $light-grey;
}

.padding-left5 {
  padding-left: 5px;
}
